NODE_ENV=localhost

POSTHOG_API_KEY=

SESSION_SECRET=

BREVO_API_KEY=

BETTERSTACK_SOURCE_TOKEN=
BETTERSTACK_INGESTING_HOST=

PRISMA_POSTGRES_DIRECT_URL=
PRISMA_POSTGRES_CONNECTION_STRING=

TELEGRAM_BOT_API_KEY=

FRONT_WEB_APP_ORIGIN_URL=

STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

PORT=3000

VALKEY_CACHE_HOST=
VALKEY_CACHE_PORT=

AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=