# Logs
logs
*.log
npm-debug.log*


# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# config files
/config

# database files
/database

# .env files

staging.env

# test results

/test-results

# middlewares
server/middlewares/permissionByRoleChecker.mjs
server/middlewares/subscriptionChecker.mjs

# prisma client

server/generated

server/config/generated

server/config/generated/prisma/client/edge.js

server/config/generated/prisma/client/index-browser.js

server/config/generated/prisma/client/index.d.ts

server/config/generated/prisma/client/index.js

server/config/generated/prisma/client/package.json

server/config/generated/prisma/client/schema.prisma

server/config/generated/prisma/client/wasm.js

server/config/generated/prisma/client/libquery_engine-darwin-arm64.dylib.node

server/config/generated/prisma/client/runtime/edge-esm.js

server/config/generated/prisma/client/runtime/edge.js

server/config/generated/prisma/client/runtime/library.d.ts

server/config/generated/prisma/client/runtime/library.js

server/config/generated/prisma/client/runtime/react-native.js

server/config/generated/prisma/client/runtime/wasm-compiler-edge.js
