NODE_ENV=development
DEPLOY_ENVIRONMENT=

POSTHOG_API_KEY=

SESSION_SECRET=

BREVO_API_KEY=

PRISMA_POSTGRES_DIRECT_URL=
PRISMA_POSTGRES_CONNECTION_STRING=

TELEGRAM_BOT_API_KEY=

FRONT_WEB_APP_ORIGIN_URL=

STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

PORT=3000

AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
S3_REGION=
S3_BUCKET=
S3_EXTERNAL_ENDPOINT=
S3_INTERNAL_ENDPOINT=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=